<div class="d-flex flex-wrap justify-content-between">
    <div class="card">
        <div class="card-title">Backlog</div>
        <div class="card-body"></div>
        <button class="btn add-task-btn add-to-backlog">&plus; Add card</button>
        <button class="btn add-task-btn submit-btn d-none">Submit</button>
    </div>
    <div class="card">
        <div class="card-title">Ready</div>
        <div class="card-body align-self-start"></div>
        <div class="dropdown card-dropdown">
            <button class="btn add-task-btn _dropdown-toggle dropdown-btn" type="button" id="dropdownMenuButton"
                data-bs-toggle="dropdown" aria-expanded="false">
                &plus; Add card
            </button>
            <ul class="dropdown-menu card-dropdown-menu" aria-labelledby="dropdownMenuButton">
            </ul>
        </div>
    </div>
    <div class="card align-self-start">
        <div class="card-title">In Progress</div>
        <div class="card-body"></div>
        <div class="dropdown card-dropdown">
            <button class="btn add-task-btn _dropdown-toggle dropdown-btn" type="button" id="dropdownMenuButton"
                data-bs-toggle="dropdown" aria-expanded="false">
                &plus; Add card
            </button>
            <ul class="dropdown-menu card-dropdown-menu" aria-labelledby="dropdownMenuButton">
            </ul>
        </div>
    </div>
    <div class="card">
        <div class="card-title">Finished</div>
        <div class="card-body"></div>
        <div class="dropdown card-dropdown">
            <button class="btn add-task-btn _dropdown-toggle dropdown-btn" type="button" id="dropdownMenuButton"
                data-bs-toggle="dropdown" aria-expanded="false">
                &plus; Add card
            </button>
            <ul class="dropdown-menu card-dropdown-menu" aria-labelledby="dropdownMenuButton">
            </ul>
        </div>
    </div>
</div>